@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using StackApp.Models
@using StackApp.ViewComponents
@model StackApp.Models.Question

<h1>@Html.DisplayFor(model => model.User.UserName) asks, </h1>
<h3>@Html.DisplayFor(model => model.Content)?</h3>

<hr />

@if (Model.Answers.Any())
{
    <ul>
        @foreach (var listItem in Model.Answers)
        {
            @Html.DisplayFor(modelItem => listItem.User.UserName) says:
            <li>@Html.DisplayFor(modelItem => listItem.Content)</li>
        }
    </ul>
}
else
{
    <p>No Answers Yet!</p>
}
<h2>Comments about this question</h2>
@Html.Partial("_Comments", Model.Comments)
<hr />
<h2>Add a Comment for this Question</h2>
@Html.Partial("_CommentForm", new StackApp.Models.Comment(), new ViewDataDictionary(new Microsoft.AspNetCore.Mvc.ModelBinding.EmptyModelMetadataProvider(), new Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateDictionary()) { { "PostId", Model.Id }, {"isQuestion", true } })

@Html.ActionLink("Add an Answer", "CreateAnswer", new { id = Model.Id })

